/* resets and general styles */

*{
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection{
	color: #FFFFFF;
	background: #FF5722;
}

::selection{
	color: #FFFFFF;
	background: #FF5722;
}

body{
	font: normal 16px 'Roboto', sans-serif;
	position: absolute; 
	height: 100%;
	width: 100%;
}

.title{
	color: #FFFFFF;
	margin-bottom: 20px;
	font-size: 4.5em;
	font: normal 16px 'Roboto', sans-serif;
}
div.wrapper{
	width: calc(4*225px);
	margin: 0 auto;
}

span, a, strong{font-weight: 700;}
a{transition: .2s; text-decoration: none; color: #787878; border-bottom: 1px solid #607D8B;}
a:hover{transition: .2s; color: #FF5722;}

/* page layout */

/* header */

header{
	width: 100%;
	height: 35%;
	background: #215f7e;
}

/* section */

section{
	width: 100%;
	height: 50%;
}

section h1, section p.meta{
	color: #FFFFFF;
	margin-bottom: 50px;
}

section hgroup{margin-top: -360px;}

p.numbers{font-size: 4.5em;}
p.meta,p.strings{font-size: 1.5em;}
section h1{font-size: 4.5em;}

/* countdown styles */

div#countdown{
	color: #353535;
	display: flex;
	justify-content: space-around;
}

div#countdown p{
	width: 100%;
	text-align: center;
}

p.numbers{
	width: 100%;
	height: 80%;
	background: #FFFFFF;
	margin-top: -25px;
	padding-top: 30px;
}

p.strings{
	width: 100%;
	height: auto;
	background: #588666;
	color: #FFFFFF;
	font-size: 1.2em;
	padding: 20px 0;
}

div.cd-box{
	width: 220px;
	height: 220px;
	background: #FFFFFF;
	float: left;
	padding: 25px 0 0 0;
	margin: 10px 15px 0 0;
	-webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
	-moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
	box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
}

/* footer */

footer{
	position: relative;
	top: 50px;
}

footer p{
  color: #787878;
  text-align: center;
}

.button {
    background-color: #1957dd; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #container-percentage{
	margin-top: 100px;
	width: 100%;
	display: inline-block;
	text-align: center;
  }

  #container-progress {
    background-color: lightgrey;
    height: 50px;
	
  }
  #container-progress > svg {
    height: 100%;
	display: inline-block;
  }

#container-progress{color: #353535;}

#container-progress{
	width: 100%;
	display: inline-block;
	text-align: center;
}

#progress-percentage{
	text-align: center;
	font: normal 32px 'Roboto', sans-serif;
	width: 100%;
	margin-top: 30px;
}

#end-date{
	width: 200px;
	margin-right: 20px;
}

.label{
	display: inline;
	margin-right: 5px;
	font: normal 22px 'Roboto', sans-serif;
	color: #ffffff;
}

#form{
	margin-top: 50px;
	margin-bottom: 30px;
}

#date-from{
	display: inline;
	margin-right: 5px;
	text-align: center;
	font: normal 18px 'Roboto', sans-serif;
}

#timer-text{
	font: normal 21px 'Roboto', sans-serif;
	color: #FFFFFF;
	margin-bottom: 50px;
}

.top-buffer { margin-top:25px; }

.cancel-div{
	text-align: center; 
	margin-top: 50px;
}
  
@media (max-width: 767px) {
	div#countdown {
	  flex-direction: row;
	  align-items: center;
	  flex-wrap: wrap;
	}
  
	div.cd-box {
	  width: 48%;
	  height: 200px;
	  margin: 10px 1%;
	}
  
	p.numbers {
	  font-size: 4em;
	  height: 60%;
	  padding-top: 15px;
	}
  
	p.strings {
	  font-size: 1.2em;
	}
  }
